<!DOCTYPE html>
<html>
<head>
</head>
<body style="display: grid; text-align: center;">
    <div style="height: 450; width: 350;">
        <a href="image/1"><img src="/images/1.png" style="height: 450; width: 350;"></a>
        <a href="image/2"><img src="/images/2.png"></a>
        <a href="image/3"><img src="/images/3.png"></a>
    </div>
</body>
</html>